# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env

# Conda
conda-meta/
.python-version

# Jupyter
*.nbconvert.ipynb

# vscode 
.vscode/*
!.vscode/settings.json

# OSCD ~ 6BG
data/*
!data/.gitkeep

# 3Dprints
CADmodels/*

# inputs / outputs - usually full of potentially large mesh files
**/MeshPipeline/cpp/**/inputs/*
**/MeshPipeline/cpp/**/outputs/*

# ignore all outputs except for full param files from previous runs
**/MeshPipeline/**/outputs/**/meshes/*
**/MeshPipeline/**/outputs/**/reports/*
**/MeshPipeline/**/outputs/**/params/*
!**/MeshPipeline/**/params/*.json

**/MeshPipeline/**/outputs-redo/**/meshes/*
**/MeshPipeline/**/outputs-redo/**/reports/*
**/MeshPipeline/**/outputs-redo/**/params/*
!**/MeshPipeline/**/outputs-redo/**/params/*.json

# mesh files
*.obj
*.stl
*.off
*.iv
*.vtk
*.vtu
*.vtp
*.msh
*.mesh
*.ply
*.inp

# random csv files
**/metric_dfs/*
**/Interference-smooth/*